.hidden {
    display: none!important;
}

#login-form {
    text-align: center;
}

nav {
    background-color: white;
}

.notice-title {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.notice-title-first {
    padding-top: 1em;
    padding-bottom: 1em;
}

.notice-title-second {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.notice-title-area input{
    border-style : hidden;
    border-color : white;
    padding-bottom : 1em;
    border-bottom : 1px solid black;
}

.notice-content-area textarea{
    border-style : hidden;
    border-color : white;
}

#card-area{
    text-align: center;
    height : 200px;
    font-size: 40px;
    border-color : white;
}

#title-below-area{
    display: flex;
    justify-content: space-between;
    algien-items : center;
}

a {
    text-decoration-line: none;
  }
