.hidden {
    display: none!important;
}

#login-form {
    text-align: center;
}

nav {
    background-color: white;
}

.notice-title {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.notice-title-first {
    padding-top: 1em;
    padding-bottom: 1em;
}

.notice-title-second {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.notice-title-area input{
    border-style : hidden;
    border-color : white;
    padding-bottom : 1em;
    border-bottom : 1px solid black;
}

.notice-content-area textarea{
    border-style : hidden;
    border-color : white;
}

#card-area{
    text-align: center;
    height : 200px;
    font-size: 40px;
    border-color : white;
}

#title-below-area{
    display: flex;
    justify-content: space-between;
    align-items : center;
}

a {
    text-decoration-line: none;
}

#main.card:hover{
    background-color: aliceblue;
} 
/* admin page userlist css */
.user-list th {
    width: 30%;
    text-align: center;
}
.user-list th:first-child {
    width: 10%;
    text-align: left;
}
.user-list td {
    width: 30%;
    text-align: center;
    opacity: 0.7;
}
.user-list td:nth-child(1) {
    width: 10%;
    text-align: left;
}
.user-list td:nth-child(2) {
    opacity: 1;
}
/* notice, post, qa, admin(post) list 공통 css */
.post-list th {
    width: 11%;
    text-align: center;
}
.post-list th:nth-child(1) {
    width: 5%;
    text-align: left;
}
.post-list th:nth-child(2) {
    width: 41%;
}
.post-list td {
    text-align: center;
    opacity: 0.7;
}
.post-list td:nth-child(1) {
    text-align: left;
}
.post-list td:nth-child(2) {
    text-align: left;
    opacity: 1;
    cursor: pointer;
}

/* 테스트 라인 */

html,
body,
#editor {
  margin: 0;
  height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

textarea,
#editor div {
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 20px;
}




